<footer class="page-footer blue lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Tech University</h5>
        <p class="grey-text text-lighten-4">The future of development training.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Informations</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue lighten-3">
    <div class="container">
    © 2020 Tech University
    <a class="grey-text text-lighten-4 right" href="#!">07 49 26 28 64</a>
    </div>
  </div>
</footer>
